---
---

@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin text-shadow($shadow) {
    -moz-text-shadow: $shadow;
    -webkit-text-shadow: $shadow;
    text-shadow: $shadow;
}

header, main, footer {
    padding-left: 240px;
}

header {
    position: relative;
}

.button-collapse.left-nav {
    position: absolute;
    z-index: 950;
    font-size: 32px;
    padding: 26px;
    margin-left: 13px;
}

.side-nav-logo {

    text-align: center;

    a {
        height: auto;

        img {
            width: 60%;
            margin: 15px 0px;
        }
    }
}

.side-nav li.side-nav-logo:hover, .side-nav li.side-nav-logo:active {
    background-color: transparent;
}

.sidenav-header {
    padding: 0 7.5%;
    background-color: {{ site.green }};
    color: white;

    .col {
        padding: 0 0;
    }

    p {
        @extend .flow-text;
        margin-bottom: 2.1rem;
    }
}

.sidenav-header.error {
    background-color: {{ site.red }};
}

#slide-out::-webkit-scrollbar { 
    width: 0 !important; 
}

#slide-out {
    -ms-overflow-style: none;
}

#slide-out > li:last-child {
    margin-bottom: 64px;
}

#next-steps {

    padding: 0px 0px 0px 0px;

    .fa {
        font-size: 70%;
        float: none;
        display: inline-block;
        @include transition(all 0.3s);
    }
}

#next-steps.active {
    background-color: transparent;
    
    .fa {
        @include transform(rotate(90deg));
    }
}

#next-steps:hover, #next-steps.active:hover {
    background-color: #ddd;
}

#toggle-nav {
    height: 84px;
    line-height: 84px;
    position: static;
    background-color: {{ site.green }};
}

@media only screen and (min-width: 993px) {

    .button-collapse.left-nav {
        display: none;
    }

    #toggle-nav {
        position: absolute;
        background-color: transparent;

        .nav-wrapper {
            @include calc(width, '100% - 240px');
            margin: 0px 0px 0px 0px;
        }
    }
}

.content-switches {

    margin-right: 40px;
    margin-top: 20px;

    #java-label {    
        margin-left: 30px;
    }

    li {
        clear: left;
    }


    .switch {

        height: 32px;
        line-height: 32px;

        label input[type=checkbox]:checked+.lever:after {
            background-color: #F1F1F1;
        }

        label input[type=checkbox]:checked+.lever {
            background-color: #818181;
        }
    }
}


.collapsible-body {
    p {
        padding-bottom: 0rem;
    }
    pre {
        margin: 1rem 2rem 2rem 2rem;
    }
}

.sidenav-content {

    pre {
        font-size: 1rem;
        line-height: 1.2rem;
        background-size: 1px 4rem;
        margin: 1.5 rem 0rem;
        padding: 0.8rem 0.6rem 0.8rem 0.5rem;
        border: 1px solid {{ site.red-light }};
        border-left: 0.5rem solid {{ site.red-light }};
    }

    @media only screen and (min-width: 768px) {
        pre {
            margin: 1.5rem 1rem 2rem 1.5rem;
            line-height: 1.3rem;
        }
    }

    code {
        font-size: 95%;
    }
    
    ul:not(.collection) {
        padding-left: 40px;
        list-style-type: disc;

        li {
            list-style-type: disc;
        }
    }

    ol li, ul li {
        @extend .flow-text;
    }

    p {
        @extend .flow-text;

        img:not(.smelly) {
            display: block;
            margin: 1rem 0rem 1.6rem 0rem;
            max-width: 95%; /* all browsers */
            max-width: calc(100% - 10px); /* CSS3+ */
            border-style: solid;
            border-width: 1px;
            box-shadow: 10px 10px 5px #bbbbbb;
        }

        @media only screen and (min-width: 414px) {
            img:not(.smelly) {
                margin: 1rem 1rem 1.6rem 1rem;
                max-width: 90%; /* all browsers */
                max-width: calc(100% - 2rem); /* CSS3+ */
            }
        }
    }

    h1, h2 {
        color: {{ site.green }};
    }

    h1 + .section {
        padding-top: 0.1rem;
    }

    h1 {
        font-size: 3.2rem;
        padding-bottom: .6rem;
        border-bottom:2px solid;
    }

    h2 {
        font-size: 2.6rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    #how-it-works img {
        border-style: none;
        box-shadow: none;
        margin-top: 2rem;
        margin-left: 1rem;
    }

    img.inline {
        padding: 20px 20px 20px 64px;
        max-width: 100%;
    }

    img.smelly {
        float: right;
        width: 6rem;
    }

    blockquote {
        border: 0;
        padding: 12px;
    }

    .example {
        position: relative;
        padding-right: 50px; 
        img {
            display: block;
            position: absolute;
            top: 0px;
            right: 3px;
        }
    }

    .example.bad {
        background-color: #ffd9d9;
    }

    .example.good {
        background-color: #d9ffd9;
        border-color: {{ site.green }};
    }

    .collection .collection-item.avatar .download  {
        font-size: 24px;
        font-weight: 300;
        line-height: 3rem;
    }
    .collection #download-link  {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }
}

.extensions {
    padding-bottom: 10px;
    padding-top: 20px;
    .card-content {
        min-height: 140px;
    }
}



@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

@media only screen and (min-width: 993px) {
    .container.sidenav-content {
        width: 85%;
    }
}

// #########
// FLOW TEXT
// #########

.flow-text {
    font-weight: 300;
}

@media only screen and (min-width: 360px) {
    .flow-text {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 390px) {
    .flow-text {
        font-size: 1.02rem;
    }
}

@media only screen and (min-width: 420px) {
    .flow-text {
        font-size: 1.04rem;
    }
}

@media only screen and (min-width: 450px) {
    .flow-text {
        font-size: 1.06rem;
    }
}

@media only screen and (min-width: 480px) {
    .flow-text {
        font-size: 1.08rem;
    }
}

@media only screen and (min-width: 510px) {
    .flow-text {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 540px) {
    .flow-text {
        font-size: 1.12rem;
    }
}

@media only screen and (min-width: 570px) {
    .flow-text {
        font-size: 1.14rem;
    }
}

@media only screen and (min-width: 600px) {
    .flow-text {
        font-size: 1.16rem;
    }
}

@media only screen and (min-width: 630px) {
    .flow-text {
        font-size: 1.18rem;
    }
}

@media only screen and (min-width: 660px) {
    .flow-text {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 690px) {
    .flow-text {
        font-size: 1.22rem;
    }
}

@media only screen and (min-width: 720px) {
    .flow-text {
        font-size: 1.24rem;
    }
}

@media only screen and (max-width: 360px) {
    .flow-text {
        font-size: 1.26rem;
    }
}