---
---

$green: #1baf59;
$green-light: #63ba86;
$green-dark: #00934f;
$red: #ae122a;
$red-light: #be1e2d;
$red-dark: #88172b;
$off-white: #f1f1f2;
$grey-light: #e6e7e8;
$grey-dark: #d0d2d3;

$nav-height: 64px;
$nav-height-mobile: 56px;

@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin text-shadow($shadow) {
    -moz-text-shadow: $shadow;
    -webkit-text-shadow: $shadow;
    text-shadow: $shadow;
}

// #######
// GENERAL
// #######

html, body {
    background-color: $off-white;
    overflow-x: hidden;
}

// ##########
// NAVIGATION
// ##########

nav {
    position: absolute;
    top: 0px;
    background-color: transparent;
    box-shadow: none;
    z-index: 900;
    @include transition(all 0.3s);

    .button-collapse {
        float: right;
        padding-right: 16px;
    }

    ul li:hover, ul li:active {
        background-color: transparent;
    }
}

nav.static {
    position: fixed;
    background-color: $green;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

    ul li:hover, ul li:active {
        background-color: rgba(0,0,0,0.1);
    }

    .text-shadow {
        @include text-shadow(none);
    }

    .text-shadow:hover, .text-shadow:active {
        @include text-shadow(none);
    }
}

.brand-logo {

    img {
        opacity: 0;
        width: $nav-height-mobile;
    }

    h2 {
        display: inline-block;
        font-size: $nav-height-mobile - 20px;
        line-height: 100%;
        margin: 10px 0px;
        @include transform(translateY(-15px));
    }
}

.text-shadow {
    @include text-shadow(0px 0px 10px #000);
    @include transition(all 0.3s); 
}

.text-shadow:hover, .text-shadow:active {
    @include text-shadow(0px 0px 15px #000);
}

.side-nav {
    .text-shadow, .text-shadow:hover, .text-shadow:active {
        @include text-shadow(none);
    }
}

@media only screen and (min-width: 601px) {

    .brand-logo {

        img {
            width: $nav-height;
        }

        h2 {
            font-size: $nav-height - 30px;
            margin: 15px 0px;
            @include transform(translateY(-20px));
        }
    }
}

@media only screen and (min-width: 993px) {

    .nav-wrapper {
        width: 70%;
        margin: 0 auto;
    }
}

// ######
// FOOTER
// ######

footer.page-footer {
    background-color: $green;
    
    .footer-copyright {
        background-color: $green-dark;
    }
}

// #######
// BUTTONS
// #######

.btn {
    padding: 0 1rem;
}

.btn, .btn-large {
    background-color: $green;
}

.btn:hover, .btn-large:hover, .btn.active, .btn-large.active {
    background-color: $green-dark;
}

// ########
// HOMEPAGE
// ########

#homepage-hero {
    background-image:url(../img/hero-image-3-desktop.jpg);
    background-size: cover;
    background-position: 20% 0%;

    .container {
        @include calc(height, '100vh - 100px');
        min-height: 525px;
        position: relative;
        text-align: center;
    }
}

.hero-heading {
    margin-top: 8rem;

    h1 {
        color: $off-white;
        font-size: 1.75rem;
    }
}

.cta-buttons {

    margin-top: 4rem;

    .button-wrapper {
        display: inline-block;

        .btn {
            margin: 0 1rem 1rem 1rem;
        }
    }
}

.typed {
    text-align: center;
    margin-top: 0px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media only screen and (min-width: 601px) {
    #homepage-hero {
        background-position: 45% 0%;

        .container {
            @include calc(height, '100vh - 120px');
            min-height: 675px;
        }
    }

    .hero-heading h1, .typed{
        font-size: 2.5rem; 
    }
}

@media only screen and (min-width: 993px) {
    #homepage-hero {
        .container {
            min-height: 600px;
        }
    }

    .hero-heading h1, .typed{
        font-size: 2.75rem; 
    }
}

@media only screen and (min-width: 1281px) {
    #homepage-hero {
        .container {
            min-height: 650px;
        }
    }

    .hero-heading h1, .typed{
        font-size: 3rem; 
    }
}

@media only screen and (min-width: 1441px) {
    #homepage-hero {
        .container {
            min-height: 600px;
        }
    }

    .hero-heading h1, .typed{
        font-size: 3.25rem; 
    }
}

// #################
// SECTION SEPARATOR
// #################

.section-separator {
    height: 40px;
    width: 100%;
    position: relative;

    .arrow-wrapper {
        height: 80px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        z-index: 10;
    }

    .fill.half {
        height: 80px;
        @include calc(width, '50% - 40px');
        position: relative;
        display: inline-block;
    }

    .arrow {
        width: 56px;
        height: 56px;
        position: absolute;
        @include transform(rotate(45deg));
        top: 12px;
    }

    .left .arrow {
        right: -28px;
    }

    .right .arrow {
        left: -28px;
    }
}

.section-separator.white, .section-separator.white .fill {
    background-color: $off-white !important;
}

// ########
// BENEFITS
// ########

#benefits {
    .btn {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.benefits-wrapper {


    .container.benefit-section {
        display: none;
        
        .screenshot {
            height: 500px;
            
            img {
                height: 100%;
            }

        }
        
        .icon {
            text-align: center;
            
            img {
                height: 200px;
            }
        }
    }
    
    .container.benefit-section.active {
        display: block;
    }
}

@media only screen and (min-width: 601px) {
    
    .container.benefit-section {
        .col.push-m4 {
            text-align: right;
        }
    }
}