---
---

@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin text-shadow($shadow) {
    -moz-text-shadow: $shadow;
    -webkit-text-shadow: $shadow;
    text-shadow: $shadow;
}

// #######
// GENERAL
// #######


body::-webkit-scrollbar { 
    width: 0 !important; 
}

body {
    -ms-overflow-style: none;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

html, body {
    background-color: {{ site.off-white }};
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
}

// ##########
// NAVIGATION
// ##########

nav {
    position: absolute;
    top: 0px;
    background-color: transparent;
    box-shadow: none;
    z-index: 900;
    @include transition(all 0.3s);

    .button-collapse {
        float: right;
        padding-right: 16px;
    }

    ul li:hover, ul li:active {
        background-color: transparent;
    }
}

nav.static {
    position: fixed;
    background-color: {{ site.green }};
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

    ul li:hover, ul li:active {
        background-color: rgba(0,0,0,0.1);
    }

    .text-shadow {
        @include text-shadow(none);
    }

    .text-shadow:hover, .text-shadow:active {
        @include text-shadow(none);
    }
}

.brand-logo {

    img {
        width: 208px;
    }

    h2 {
        display: inline-block;
        font-size: {{ site.nav-height-mobile }} - 20px;
    line-height: 100%;
    margin: 10px 0px;
    @include transform(translateY(-15px));
}
}

.text-shadow {
    @include text-shadow(0px 0px 10px #000);
    @include transition(all 0.3s); 
}

.text-shadow:hover, .text-shadow:active {
    @include text-shadow(0px 0px 15px #000);
}

.side-nav {
    .text-shadow, .text-shadow:hover, .text-shadow:active {
        @include text-shadow(none);
    }
}

@media only screen and (min-width: 601px) {

    .brand-logo {

        img {
            width: 238px;
        }

        h2 {
            font-size: {{ site.nav-height }} - 30px;
        margin: 15px 0px;
        @include transform(translateY(-20px));
    }
}
}

@media only screen and (min-width: 993px) {

    .nav-wrapper {
        width: 70%;
        margin: 0 auto;
    }
}

// ######
// FOOTER
// ######

footer.page-footer {
    background-color: {{ site.green }};
    margin-top: 0px;
    padding-top: 40px;

    a {
        text-decoration: underline;
    }

    i {
       margin-right: 6px;
    }

    iframe {
        position: absolute;
        margin-left: 12px;
    }

    .read-more li {
        margin-bottom: 5px;
    }

    .footer-copyright {
        padding-top: 20px;
        height: auto;
        line-height: 1.5em;
        background-color: {{ site.green-dark }};

        a {
            text-decoration: none;
        }

        img {
            vertical-align: middle;
        }
        
        #github a {
            padding: 0px 5px;
            
            i {
                padding-right: 5px;
            }
        }
    }
}

// #####
// MODAL
// #####

.modal {

    .collection {

        .collection-item.avatar {
            padding-left: 94px;

            .circle {
                width: 64px;
                height: 64px;
            }
        }

        .secondary-content, .secondary-content .fa {
            color: rgba(0,0,0,0.87);
            @include transition(all 0.3s);
        }
        
        .secondary-content .fa-linkedin-square:hover, .secondary-content .fa-linkedin-square:active, {
            color: #0077b5;
        }
        
        .secondary-content .fa-github-square:hover, .secondary-content .fa-github-square:active, {
            color: #4183c4;
        }
        
        .secondary-content .fa-behance-square:hover, .secondary-content .fa-behance-square:active, {
            color: #1769ff;
        }
        
        .secondary-content .fa-twitter-square:hover, .secondary-content .fa-twitter-square:active, {
            color: #55acee;
        }
        
        .secondary-content .fa-globe:hover, .secondary-content .fa-globe:active, {
            color: #006994;
        }
    }

    .modal-content {

        h5 {
            margin-top: 0px;
        }
    }

    .modal-footer {

        a {
            text-decoration: none;
        }
    }
}

#modal-contributors {
    .modal-header {
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding: 24px;
        height: 86px;

        h4 {
            margin-bottom: 0px;
        }
    }
    
    .modal-content {
        height: calc(100% - 56px - 86px);
    }
}

@media only screen and (max-width: 600px) {
    #modal-contributors {
        width: 95%;
        
        .modal-header {
            padding: 15px;
            height: 68px;
        }
        
        .modal-content {
            padding: 15px;
            height: calc(100% - 56px - 68px);
        }
        
        .collection .collection-item.avatar .secondary-content {
            top: 10px;
            right: 10px;
        }
    }
}

@media only screen and (min-width: 601px) {
    .modal {
        .collection {
            .secondary-content {
                font-size: 24px;
            }
        }
    }
}

@media only screen and (min-width: 993px) {
    .modal {
        .collection {
            .secondary-content {
                font-size: 30px;
            }
        }
    }
}

// #######
// BUTTONS
// #######

.btn {
    padding: 0 1rem;
}

.btn, .btn-large {
    background-color: {{ site.green }};
}

.btn:hover, .btn-large:hover, .btn.active, .btn-large.active {
    background-color: {{ site.green-dark }};
}

// ########
// HOMEPAGE
// ########

#homepage-hero {
    position: relative;

    .container {
        @include calc(height, '100vh - 100px');
        z-index: 10;
        min-height: 525px;
        position: relative;
        text-align: center;
    }

    .background {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 20% 0%;
    }
}

section .background {
    opacity: 0;
    @include transition(opacity 0.5s ease-in-out);

    .background-placeholder {
        display: none;
    }
}

.hero-heading {
    margin-top: 8rem;

    h1 {
        color: white;
        font-size: 1.75rem;
    }
}

.cta-buttons {

    margin-top: 4rem;

    .button-wrapper {
        display: inline-block;

        .btn {
            margin: 0 1rem 1rem 1rem;
        }
    }
}

.typed {
    text-align: center;
    margin-top: 0px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.awesomeness {
    background-color: {{ site.grey-light }};   
    padding-bottom: 10px;
    padding-top: 20px;
    .card-content {
        min-height: 200px;
    }
}

@media only screen and (min-width: 601px) {
    #homepage-hero {
        background-position: 45% 0%;

        .container {
            @include calc(height, '100vh - 120px');
            min-height: 675px;
        }
    }

    .hero-heading h1, .typed{
        font-size: 2.5rem; 
    }
}

@media only screen and (min-width: 993px) {
    #homepage-hero {
        .container {
            min-height: 600px;
        }
    }

    .hero-heading h1, .typed{
        font-size: 2.75rem; 
    }
}

@media only screen and (min-width: 1281px) {
    #homepage-hero {
        .container {
            min-height: 650px;
        }
    }

    .hero-heading h1, .typed{
        font-size: 3rem; 
    }
}

@media only screen and (min-width: 1441px) {
    #homepage-hero {
        .container {
            min-height: 600px;
        }
    }

    .hero-heading h1, .typed{
        font-size: 3.25rem; 
    }
}

// #################
// SECTION SEPARATOR
// #################

.section-separator {
    height: 40px;
    width: 100%;
    position: relative;

    .arrow-wrapper {
        height: 80px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        z-index: 10;
    }

    .fill.half {
        height: 80px;
        @include calc(width, '50% - 40px');
        position: relative;
        display: inline-block;
    }

    .arrow {
        width: 56px;
        height: 56px;
        position: absolute;
        @include transform(rotate(45deg));
        top: 12px;
    }

    .left .arrow {
        right: -28px;
    }

    .right .arrow {
        left: -28px;
    }
}

.section-separator.white, .section-separator.white .fill {
    background-color: {{ site.off-white }} !important;
}

// ########
// BENEFITS
// ########

#benefits {
    overflow-x: hidden;
    
    .btn {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.benefits-wrapper {
    margin-top: 50px;
    overflow-x: hidden;

    .container.benefit-section {
        display: none;

        .row {
            margin-bottom: 50px;
        }

        .screenshot {
            height: 500px;

            img {
                height: 100%;
            }

        }

        .icon {
            text-align: center;

            img {
                height: 200px;
            }
        }
    }

    .container.benefit-section.active {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .benefits-wrapper {
        .valign-wrapper {
            display: block;
            display: block;
            display: block;
            display: block;
            -webkit-flex-align: stretch;
            -ms-flex-align: stretch;
            -webkit-align-items: stretch;
            align-items: stretch;
        }
    }
}

@media only screen and (min-width: 601px) {

    .container.benefit-section {
        .col.push-m4 {
            text-align: right;
        }
    }
}