---
---
$orange: #d4481c;
$off-white: #fefefe;

$nav-height: 64px;
$nav-height-mobile: 56px;

@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
#{$property}: -webkit-calc(#{$expression});
#{$property}: -o-calc(#{$expression});
#{$property}: calc(#{$expression});
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// ##########
// NAVIGATION
// ##########

nav {
    background-color: $orange;
}

.brand-logo {

    img {
        width: $nav-height-mobile;
    }

    h2 {
        display: inline-block;
        font-size: $nav-height-mobile - 20px;
        line-height: 100%;
        margin: 10px 0px;
        @include transform(translateY(-15px));
    }
}

@media only screen and (min-width: 601px) {

    .brand-logo {

        img {
            width: $nav-height;
        }

        h2 {
            font-size: $nav-height - 30px;
            margin: 15px 0px;
            @include transform(translateY(-20px));
        }
    }
}

// #######
// BUTTONS
// #######

.btn {
    padding: 0 1rem;
}

// ########
// HOMEPAGE
// ########

#homepage-hero {
    background-image:url(../img/software-team.jpg);
    background-size: cover;
    background-position: center;
    
    .container {
        @include calc(height, '100vh - 100px - ' $nav-height-mobile);
        position: relative;
        text-align: center;
    }
}

.hero-heading {
    margin-top: 4rem;
    
    h1 {
        color: $off-white;
        font-size: 1.75rem;
    }
}

.cta-buttons {
    position: absolute;
    bottom: 4rem;
    
    .button-wrapper {
        display: inline-block;

        .btn {
            margin: 0 1rem 1rem 1rem;
        }
    }
}

.typed {
    text-align: center;
    margin-top: 0px;
}

#typed-strings {
    display: none;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media only screen and (min-width: 601px) {
    #homepage-hero {
        .container {
            @include calc(height, '100vh - 120px - ' $nav-height);
        }
    }

    .hero-heading h1, .typed{
        font-size: 2.5rem; 
    }
}

@media only screen and (min-width: 993px) {
    .hero-heading h1, .typed{
        font-size: 3.25rem; 
    }
}

// #################
// SECTION SEPARATOR
// #################

.section-separator {
    height: 40px;
    width: 100%;
    position: relative;
    
    .arrow-wrapper {
        height: 80px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        z-index: 10;
    }
    
    .fill.half {
        height: 80px;
        @include calc(width, '50% - 40px');
        position: relative;
        display: inline-block;
    }
    
    .arrow {
        width: 56px;
        height: 56px;
        position: absolute;
        @include transform(rotate(45deg));
        top: 12px;
    }
    
    .left .arrow {
        right: -28px;
    }
    
    .right .arrow {
        left: -28px;
    }
}

.section-separator.white .fill {
    background-color: white;
}

// ####
// DEMO
// ####

.concordion-demo {
    @include calc(height, '100vh - 104px');
}



footer.page-footer {
    background-color: $orange;
}

.centred {

    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    text-align: center;

    span {
        font-size: 25px;
    }
}

