language: ruby
rvm:
- 2.2

# script from https://jekyllrb.com/docs/continuous-integration/

before_script:
 - chmod +x ./script/cibuild # or do this locally and commit

addons:
  apt:
    packages:
    - libcurl4-openssl-dev # required to avoid SSL errors

# Assume bundler is being used, therefore
# the `install` step will run `bundle install` by default.
script: ./script/cibuild

# branch whitelist, only for GitHub Pages
branches:
  only:
  - gh-pages     # test the gh-pages branch
  - /pages-(.*)/ # test every branch which starts with "pages-"

cache:
  directories:
  - $TRAVIS_BUILD_DIR/tmp/.htmlproofer #https://github.com/gjtorikian/html-proofer/issues/381

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer

sudo: false # route your build to the container-based infrastructure for a faster build