<ul id="slide-out" class="side-nav fixed collapsible collapsible-accordion">
	<li class="side-nav-logo"><a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/img/concordion-logo-green.png" alt="Concordion Logo"/></a></li>
	
	<li><a href="{{site.baseurl}}/cubano/index">Overview</a></li>
	<li><a href="{{site.baseurl}}/cubano/framework">Framework</a></li>	
	<li><a href="{{site.baseurl}}/cubano/api">API</a></li>
    <li><a href="{{site.baseurl}}/cubano/api/httpeasy/">&nbsp;&nbsp;&#8226; HttpEasy</a></li>
	<li><a href="{{site.baseurl}}/cubano/browser">Browser</a></li>
	
	<li><a href="{{site.baseurl}}/cubano/browser/chrome/">&nbsp;&nbsp;&#8226; Chrome</a></li>
    <li><a href="{{site.baseurl}}/cubano/browser/edge">&nbsp;&nbsp;&#8226; Edge</a></li>
    <li><a href="{{site.baseurl}}/cubano/browser/firefox">&nbsp;&nbsp;&#8226; Firefox</a></li>
    <li><a href="{{site.baseurl}}/cubano/browser/ie">&nbsp;&nbsp;&#8226; Internet Explorer</a></li>
    <li><a href="{{site.baseurl}}/cubano/browser/opera">&nbsp;&nbsp;&#8226; Opera</a></li>
    <li><a href="{{site.baseurl}}/cubano/browser/safari">&nbsp;&nbsp;&#8226; Safari</a></li>
	<!-- 
	<li id="next-steps"><a class="collapsible-header{% if page.next_steps_expanded %} active{% endif %} waves-effect waves-teal">Browser <i class="fa fa-chevron-right"></i></a>
        <div class="collapsible-body">
            <ul>
                <li><a href="{{site.baseurl}}/cubano/browser/overview">Overview</a></li>
                <li><a href="{{site.baseurl}}/cubano/browser/chrome/">Chrome</a></li>
                <li><a href="{{site.baseurl}}/cubano/browser/edge">Edge</a></li>
                <li><a href="{{site.baseurl}}/cubano/browser/firefox">Firefox</a></li>
                <li><a href="{{site.baseurl}}/cubano/browser/ie">Internet Explorer</a></li>
                <li><a href="{{site.baseurl}}/cubano/browser/opera">Opera</a></li>
                <li><a href="{{site.baseurl}}/cubano/browser/safari">Safari</a></li>                
            </ul>
        </div>
    </li>
     -->
    
    <li><a href="{{site.baseurl}}/cubano/database">Database</a></li>
	<li><a href="{{site.baseurl}}/cubano/getting-started">Getting Started</a></li>	
</ul>
<a href="#" data-activates="slide-out" class="button-collapse left-nav white-text"><i class="mdi-navigation-menu"></i></a>