<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">About Concordion</h5>
            <p class="grey-text text-lighten-4">Concordion is an open-source tool for automating Specification by Example. It's used by product teams all over the world to help them deliver great software, and maintained by a small team of volunteers.</p>        
        </div>
        <div class="col l4 push-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/concordion">Concordion on Github</a></li>
                <li><a class="grey-text text-lighten-3" target="_blank" href="https://en.wikipedia.org/wiki/Specification_by_example">Specification by Example</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        © 2016 Copyright Concordion
        <div id="github" class="right">
            <i class="fa fa-github"></i>
            <a class="white-text" target="_blank" href="https://github.com/concordion/concordion-website-2.0/edit/gh-pages/{{page.path}}" title="Edit {{page.path}} on GitHub">
                Improve this page
            </a>
            |
            <a class="white-text" target="_blank" href="https://github.com/concordion/concordion-website-2.0/commits/gh-pages/{{page.path}}" title="View {{page.path}} history on GitHub">
                Page history
            </a>
        </div>
    </div>
</div>