<!-- BASIC PAGE NEEDS -->
<meta charset="utf-8"/>
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}"/>
<link rel="canonical" href="{{ page.path }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<link rel="shortcut icon" href="/img/favicon.png"/>
<!--[if lte IE 9]>
<style type="text/css" media="screen">#ie8 { display: block; }</style>
<![endif]-->

<!-- STYLES -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/css/stylesheet.css">

<!-- SCRIPTS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
<script src="/js/typed.js"></script>
<script src="/js/script.js"></script>
