<!-- Modal Structure -->
<div id="modal-contributors" class="modal modal-fixed-footer">
    <div class="modal-header">
        <h4>The Concordion Team</h4>
    </div>
    <div class="modal-content">
        <h5>Core</h5>
        <ul class="contributors collection">
            <li class="collection-item avatar">
                <img https="https://media.licdn.com/media/p/6/000/280/3e7/3fa152e.jpg" alt="david photo" class="circle">
                <span class="title">David Peterson</span>
                <p>Project Creator and Lead until 2013</p>
                <div class="secondary-content">
                    <a href="https://github.com/davidpeterson"><i class="fa fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/davidspeterson"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </li>
            <li class="collection-item avatar">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/000/172/1cf/191258f.jpg" alt="nigel photo" class="circle">
                <span class="title">Nigel Charman</span>
                <p>Project Lead since 2013</p>
                <div class="secondary-content">
                    <a href="https://github.com/nigelcharman"><i class="fa fa-github-square"></i></a>
                    <a href="https://nz.linkedin.com/in/nigelcharman"><i class="fa fa-linkedin-square"></i></a>
                    <a href="https://twitter.com/nigel_charman"><i class="fa fa-twitter-square"></i></a>
                </div>
            </li>
        </ul>
        <h5>Concordion.NET</h5>
        <ul class="contributors collection">
            <li class="collection-item avatar">
                <img https="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/008/0af/0f90af6.jpg" alt="jeffrey photo" class="circle">
                <span class="title">Jeffrey Cameron</span>
                <p>Project Creator</p>
                <div class="secondary-content">
                    <a href="https://github.com/x97mdr"><i class="fa fa-github-square"></i></a>
                    <a href="https://www.linkedin.com/in/jeffreycameron"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </li>

            <li class="collection-item avatar">
                <img src="https://avatars3.githubusercontent.com/u/10375702?v=3&s=460" alt="shakaree photo" class="circle">
                <span class="title">Shakaree</span>
                <p>Concordion.NET Project Lead</p>
                <div class="secondary-content">
                    <a href="https://github.com/shakaree"><i class="fa fa-github-square"></i></a>
                </div>
            </li>
        </ul>
        <h5>Website</h5>
        <ul class="contributors collection">
            <li class="collection-item avatar">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAQQAAAAJDNlOWM2NmFiLWI5NjgtNDMyMy04MmU1LTYwNTI4MjMwNWJiOA.jpg" alt="finn photo" class="circle">
                <span class="title">Finn Lawrence</span>
                <p>Something here <br>
                    And maybe something else?
                </p>
                <div class="secondary-content">
                    <a href="#!"><i class="fa fa-github-square"></i></a>
                    <a href="#!"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </li>
            <li class="collection-item avatar">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAYJAAAAJGJmOTlmMGI3LWRhYTgtNGNhZC1hYzM1LWU1YmYyNGQ4NTQ0Mg.jpg" alt="katie photo" class="circle">
                <span class="title">Katie Locke</span>
                <p>Something here <br>
                    And maybe something else?
                </p>
                <div class="secondary-content">
                    <a href="#!"><i class="fa fa-behance-square"></i></a>
                    <a href="#!"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </li>
        </ul>
        <h5>Extensions</h5>
        <ul class="contributors collection">
            <li class="collection-item avatar">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/000/172/1cf/191258f.jpg" alt="nigel photo" class="circle">
                <span class="title">Nigel Charman</span>
                <p>Something here <br>
                    And maybe something else?
                </p>
                <div class="secondary-content">
                    <a href="#!"><i class="fa fa-github-square"></i></a>
                    <a href="#!"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </li>
            <li class="collection-item avatar">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/000/172/1cf/191258f.jpg" alt="nigel photo" class="circle">
                <span class="title">Nigel Charman</span>
                <p>Something here <br>
                    And maybe something else?
                </p>
                <div class="secondary-content">
                    <a href="#!"><i class="fa fa-github-square"></i></a>
                    <a href="#!"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn">Close</a>
    </div>
</div>