<!-- Modal Structure -->
<div id="modal-contributors" class="modal modal-fixed-footer">
    <div class="modal-header">
        <h4>The Concordion Team</h4>
    </div>
    <div class="modal-content">
        <h5>Core</h5>
        <ul class="contributors collection">
            <li class="collection-item avatar">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/000/172/1cf/191258f.jpg" alt="" class="circle">
                <span class="title">Nigel Charman</span>
                <p>Something here <br>
                    And maybe something else?
                </p>
                <div class="secondary-content">
                    <a href="#!"><i class="fa fa-github-square"></i></a>
                    <a href="#!"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </li>
            <li class="collection-item avatar">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/000/172/1cf/191258f.jpg" alt="" class="circle">
                <span class="title">Nigel Charman</span>
                <p>Something here <br>
                    And maybe something else?
                </p>
                <div class="secondary-content">
                    <a href="#!"><i class="fa fa-github-square"></i></a>
                    <a href="#!"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </li>
            <li class="collection-item avatar">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/000/172/1cf/191258f.jpg" alt="" class="circle">
                <span class="title">Nigel Charman</span>
                <p>Something here <br>
                    And maybe something else?
                </p>
                <div class="secondary-content">
                    <a href="#!"><i class="fa fa-behance-square"></i></a>
                    <a href="#!"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </li>
        </ul>
        <h5>Website</h5>
        <ul class="contributors collection">
            <li class="collection-item avatar">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAQQAAAAJDNlOWM2NmFiLWI5NjgtNDMyMy04MmU1LTYwNTI4MjMwNWJiOA.jpg" alt="" class="circle">
                <span class="title">Finn Lawrence</span>
                <p>Something here <br>
                    And maybe something else?
                </p>
                <div class="secondary-content">
                    <a href="#!"><i class="fa fa-github-square"></i></a>
                    <a href="#!"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </li>
            <li class="collection-item avatar">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAYJAAAAJGJmOTlmMGI3LWRhYTgtNGNhZC1hYzM1LWU1YmYyNGQ4NTQ0Mg.jpg" alt="" class="circle">
                <span class="title">Katie Locke</span>
                <p>Something here <br>
                    And maybe something else?
                </p>
                <div class="secondary-content">
                    <a href="#!"><i class="fa fa-behance-square"></i></a>
                    <a href="#!"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </li>
        </ul>
        <h5>Extensions</h5>
        <ul class="contributors collection">
            <li class="collection-item avatar">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/000/172/1cf/191258f.jpg" alt="" class="circle">
                <span class="title">Nigel Charman</span>
                <p>Something here <br>
                    And maybe something else?
                </p>
                <div class="secondary-content">
                    <a href="#!"><i class="fa fa-github-square"></i></a>
                    <a href="#!"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </li>
            <li class="collection-item avatar">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/000/172/1cf/191258f.jpg" alt="" class="circle">
                <span class="title">Nigel Charman</span>
                <p>Something here <br>
                    And maybe something else?
                </p>
                <div class="secondary-content">
                    <a href="#!"><i class="fa fa-github-square"></i></a>
                    <a href="#!"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn">Close</a>
    </div>
</div>