<!-- Modal Structure -->
<div id="modal-privacy-policy" class="modal modal-fixed-footer">
    <div class="modal-header">
        <h4>Privacy Policy</h4>
    </div>
    <div class="modal-content">
        <p>
        <i>Date: 1st April 2016<br/>
        Version number: 1.0</i>
        <p>
        Like most website operators, Concordion.org collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date, time and location of each visitor request. Concordion.org’s purpose in collecting non-personally identifying information is to better understand how visitors use its website. From time to time, Concordion.org may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
        </p>
        <p>
        This website uses Google Analytics, a web analytics service provided by Google, Inc. ("Google"), and Hotjar, an analysis and feedback tool that reveals the online behaviour and feedback of the website visitors.  Both Google Analytics and Hotjar use "cookies" to help the website analyze how users use the site. A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. Concordion.org visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Concordion.org websites, with the drawback that certain features of Concordion.org’s websites may not function properly without the aid of cookies. To find out more about cookies, including how to see what cookies have been set and how to manage and delete them, visit <a target="blank" href="http://www.allaboutcookies.org">www.allaboutcookies.org</a>.
        </p>
        <p>
        For more information on Google Analytics, see <a target="blank" href="https://www.google.com/policies/privacy/partners/">How Google uses data when you use our partners' sites or apps</a>.
        </p>
        <p>
        The sole purpose of passively collecting your information using Hotjar is to improve your experience when using this website. For more information on Hotjar, see <a target="blank" href="https://www.hotjar.com/privacy">Hotjar Privacy Policy</a>.
        </p>
        <p>
        By using this website, you consent to the processing of data about you in the manner and for the purposes set out above.
        </p>
        <h5>Privacy Policy Changes</h5>
        <p>
        Although most changes are likely to be minor, Concordion.org may change its Privacy Policy from time to time, and in Concordion.org’s sole discretion. Concordion.org encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.
        </p>
        <p>
        <i>Note: This privacy policy was adapted from <a target="blank" href="https://automattic.com/privacy/">Automattic's privacy policy</a>, which is licensed under a <a target="blank" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Sharealike</a> license. Thanks, Automattic!</i>
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn">Close</a>
    </div>
</div>