<!-- Modal Structure -->
<div id="modal-contributors" class="modal modal-fixed-footer">
    <div class="modal-header">
        <h4>The Concordion Team</h4>
    </div>
    <div class="modal-content">
        <h5>Core</h5>
        <ul class="contributors collection">
            <li class="collection-item avatar">
                <img src="{{ site.baseurl }}/img/nigel.jpg" alt="nigel photo" class="circle">
                <span class="title">Nigel Charman</span>
                <p>Project Lead since 2013</p>
                <div class="secondary-content">
                    <a target="_blank" href="https://github.com/nigelcharman"><i class="fa fa-github-square"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/nigelcharman"><i class="fa fa-linkedin-square"></i></a>
                    <a target="_blank" href="https://twitter.com/nigel_charman"><i class="fa fa-twitter-square"></i></a>
                </div>
            </li>
            <li class="collection-item avatar">
                <img src="{{ site.baseurl }}/img/tim.jpg" alt="tim photo" class="circle">
                <span class="title">Tim Wright</span>
                <p>Contributor</p>
                <div class="secondary-content">
                    <a target="_blank" href="https://github.com/drtimwright"><i class="fa fa-github-square"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/drtimwright"><i class="fa fa-linkedin-square"></i></a>
                    <a target="_blank" href="https://twitter.com/drtimwright"><i class="fa fa-twitter-square"></i></a>
                </div>
            </li>
            <li class="collection-item avatar">
                <div style="clip-path: inset(100px 200px 200px 100px); padding-left: 100px">
                    <img src="{{ site.baseurl }}/img/david.jpg" alt="david photo" class="circle">
                </div>
                <span class="title">David Peterson</span>
                <p>Project Creator and Lead until 2013</p>
                <div class="secondary-content">
                    <a target="_blank" href="https://github.com/davidpeterson"><i class="fa fa-github-square"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/davidspeterson"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </li>
            <li class="collection-item text">
                <span class="title">Other Contributors</span>
                <p>Ievgen Degtiarenko, ShaKaRee, John Hurst, Dan Katzel, Gary Frost, José Manuel Beas, Stein Kåre Skytteren, Samuel Rutishauser, Paul Infield-Harm, Craig Walls, Jeffrey Cameron</p>
            </li>
        </ul>
        <h5>Concordion.NET</h5>
        <ul class="contributors collection">
            <li class="collection-item avatar">
                <img src="{{ site.baseurl }}/img/shakaree.png" alt="shakaree photo" class="circle">
                <span class="title">Shakaree</span>
                <p>Concordion.NET Project Lead since 2013</p>
                <div class="secondary-content">
                    <a target="_blank" href="https://github.com/shakaree"><i class="fa fa-github-square"></i></a>
                </div>
            </li>
            <li class="collection-item avatar">
                <img src="{{ site.baseurl }}/img/jeffrey.jpg" alt="jeffrey photo" class="circle">
                <span class="title">Jeffrey Cameron</span>
                <p>Project Creator and Lead until 2013</p>
                <div class="secondary-content">
                    <a target="_blank" href="https://github.com/x97mdr"><i class="fa fa-github-square"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/jeffreycameron"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </li>
        </ul>
        <h5>Website</h5>
        <ul class="contributors collection">
            <li class="collection-item avatar">
                <img src="{{ site.baseurl }}/img/finn.jpg" alt="finn photo" class="circle">
                <span class="title">Finn Lawrence</span>
                <p>Design and Development</p>
                <div class="secondary-content">
                    <a target="_blank" href="https://github.com/FinnLawrence"><i class="fa fa-github-square"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/finn-lawrence-05a8a86b"><i class="fa fa-linkedin-square"></i></a>
                    <a target="_blank" href="https://twitter.com/FinnTechNZ"><i class="fa fa-twitter-square"></i></a>
                </div>
            </li>
            <li class="collection-item avatar">
                <img src="{{ site.baseurl }}/img/katie.jpg" alt="katie photo" class="circle">
                <span class="title">Katie Locke</span>
                <p>Graphic Design</p>
                <div class="secondary-content">
                    <a target="_blank" href="https://www.behance.net/katielocke"><i class="fa fa-behance-square"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/katielockedesigner"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </li>
            <li class="collection-item text">
                <span class="title">Website Content</span>
                <p>David Peterson, Nigel Charman, ShaKaRee and others</p>
            </li>
        </ul>
        <h5>Extensions</h5>
        <ul class="contributors collection">
            <li class="collection-item avatar">
                <img src="{{ site.baseurl }}/img/andrew.jpg" alt="andrew photo" class="circle">
                <span class="title">Andrew Sumner</span>
                <p>Storyboard, Logback, Execute Only If</p>
                <div class="secondary-content">
                    <a target="_blank" href="https://github.com/andrew-sumner"><i class="fa fa-github-square"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/andy-sumner-1aa2232"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </li>
            <li class="collection-item avatar">
                <img src="{{ site.baseurl }}/img/rob.jpg" alt="rob photo" class="circle">
                <span class="title">Rob Moffat</span>
                <p>Excel</p>
                <div class="secondary-content">
                    <a target="_blank" href="https://github.com/robmoffat/"><i class="fa fa-github-square"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/robmoffat"><i class="fa fa-linkedin-square"></i></a>
                    <a target="_blank" href="https://twitter.com/bobm_kite9"><i class="fa fa-twitter-square"></i></a>
                </div>
            </li>
            <li class="collection-item avatar">
                <img src="{{ site.baseurl }}/img/john.jpg" alt="john photo" class="circle">
                <span class="title">John Hurst</span>
                <p>Input Style</p>
                <div class="secondary-content">
                    <a target="_blank" href="https://github.com/johnbhurst"><i class="fa fa-github-square"></i></a>
                    <a target="_blank" href="https://twitter.com/skepticalhumor"><i class="fa fa-twitter-square"></i></a>
                    <a target="_blank" href="http://www.skepticalhumorist.co.nz/"><i class="fa fa-globe"></i></a>
                </div>
            </li>
            <li class="collection-item avatar">
                <img src="{{ site.baseurl }}/img/carlo.png" alt="carlo photo" class="circle">
                <span class="title">Carlo M-R</span>
                <p>Collapse Output</p>
                <div class="secondary-content">
                    <a target="_blank" href="https://github.com/carlo-mr"><i class="fa fa-github-square"></i></a>
                </div>
            </li>
            <li class="collection-item avatar">
                <img src="{{ site.baseurl }}/img/nigel.jpg" alt="nigel photo" class="circle">
                <span class="title">Nigel Charman</span>
                <p>Parallel Run, Screenshot, Logging Tooltip, Embed and others</p>
                <div class="secondary-content">
                    <a target="_blank" href="https://github.com/nigelcharman"><i class="fa fa-github-square"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/nigelcharman"><i class="fa fa-linkedin-square"></i></a>
                    <a target="_blank" href="https://twitter.com/nigel_charman"><i class="fa fa-twitter-square"></i></a>
                </div>
            </li>
            <li class="collection-item avatar">
                <img src="{{ site.baseurl }}/img/tim.jpg" alt="tim photo" class="circle">
                <span class="title">Tim Wright</span>
                <p>Run Totals</p>
                <div class="secondary-content">
                    <a target="_blank" href="https://github.com/drtimwright"><i class="fa fa-github-square"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/drtimwright"><i class="fa fa-linkedin-square"></i></a>
                    <a target="_blank" href="https://twitter.com/drtimwright"><i class="fa fa-twitter-square"></i></a>
                </div>
            </li>
        </ul>
        <h5>Integrations</h5>
        <ul class="contributors collection">
            <li class="collection-item avatar">
                <div style="clip-path: inset(100px 200px 200px 100px); padding-left: 100px">
                    <img src="{{ site.baseurl }}/img/ievgen.jpg" alt="ievgen photo" class="circle">
                </div>
                <span class="title">Ievgen Degtiarenko</span>
                <p>IDEA Concordion Support plugin</p>
                <div class="secondary-content">
                    <a target="_blank" href="https://github.com/gmandnepr"><i class="fa fa-github-square"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/ievgen-degtiarenko-7a043452"><i class="fa fa-linkedin-square"></i></a>
                    <a target="_blank" href="https://twitter.com/gmandnepr"><i class="fa fa-twitter-square"></i></a>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn">Close</a>
    </div>
</div>