<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">
            <img src="img/concordion-logo.png" alt="Concordion Logo"/>
            <h2>CONCORDION</h2>
        </a>
        <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            {% include navigation-links.html %}
        </ul>
        <ul class="side-nav" id="mobile-nav">
            {% include navigation-links.html %}
        </ul>
    </div>
</nav>