{% assign spec_type=page.spec_type %}
{% if spec_type == 'html' %}
{% assign html=true %}
{% assign md=false  %}
{% assign spec_type_desc = 'HTML' %}
{% assign ext='html' %}
{% elsif spec_type == 'markdown' %}
{% assign html=false %}
{% assign md=true    %}
{% assign spec_type_desc = 'Markdown' %}
{% assign ext='md'    %}
{% endif %}

{% assign fixture_language=page.fixture_language %}
{% if fixture_language == 'java' %}
{% assign java=true %}
{% assign csharp=false  %}
{% assign fixture_language_desc = 'Java' %}
{% elsif fixture_language == 'csharp' %}
{% assign java=false %}
{% assign csharp=true %}
{% assign fixture_language_desc = 'C#' %}
{% endif %}

_This page shows the FAQ for __{{ fixture_language_desc }}__._  Click the toggle buttons above to choose other options.

{% if csharp %}
<hr/>
<p><b>TODO:</b> The C# translation is nearly complete on this page.</p>
<hr/>
{% endif %}

<div class="row">

    <a name="whoDevelopedIt"> </a>
    <h3>Who developed Concordion{% if csharp %}.NET{% endif %}?</h3>
{% if java %}
    <p>
        Concordion was originally developed by David Peterson. The idea was sparked by conversations with testers and developers, in particular
        Nat Pryce and Steve Freeman while working at Easynet (BSkyB) in 2006.
    </p>
    <p>In 2013, Nigel Charman took over as project lead, having developed the Concordion extensions mechanism.</p>
    <p>Version 2.0 of Concordion was released in 2016 by a team of contributors.</p>
{% elsif csharp %}
    <p>Concordion.NET was originally ported from the Java version by Jeffrey Cameron.</p>
    <p>In 2013, ShaKaRee took over as project lead, and updated the code base. In 2016, ShaKaRee brought the code to parity with the Java version by cross-compiling it using IKVM.NET and performance tuning it to be faster than the previous natively compiled version.</p>
{% endif %}
    <p>Concordion has been ported and further extended by several other developers.</p>
    <p>See the <a class="modal-trigger" href="#modal-contributors">Concordion team</a>.</p>

    <a name="licensing"> </a>
    <h3>How is Concordion licensed?</h3>
    <p>
        Concordion is licensed under the Apache License, v2.0.
        See <a href="https://github.com/concordion/concordion{% if csharp %}.net{% endif %}/blob/master/LICENSE.{% if csharp %}md{% elsif java %}txt{% endif %}">here</a> for the license text.
    </p>

    <a name="mailingList"> </a>
    <h3>Is there a mailing list?</h3>
    <p>
        Yes, on Google Groups. <a class="externalLink" href="http://groups.google.com/d/forum/concordion{% if csharp %}-for-net{% endif %}">Join here</a>.
        We also have a <a class="externalLink" href="http://groups.google.com/d/forum/concordion-dev">developer list</a> 
        for discussing development of Concordion core and extension code. 
    </p>

    <a name="twitter"> </a>
    <h3>Is there a twitter account?</h3>
    <p>
        Yes!
    </p>
    <p>
        <a class="twitter-timeline" height="250px" data-chrome="nofooter" href="https://twitter.com/concordion" data-widget-id="526560172584341504">Tweets by @concordion</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </p>

    <a name="issueList"> </a>
    <h3>How do I report defects or submit enhancement requests?</h3>
    <p>
        In Concordion{% if csharp %}.NET{% endif %}'s <a class="externalLink" href="https://github.com/concordion/concordion{% if csharp %}.net{% endif %}/issues"> Issues List</a>.
    </p>


    <a name="sourceCode"> </a>
    <h3>Where is the source code repository?</h3>
    <p>
        It is hosted on GitHub: <a class="externalLink" href="https://github.com/concordion/concordion{% if csharp %}.net{% endif %}">Main Project Page</a>,
        <a class="externalLink" href="https://github.com/concordion">all Concordion projects</a>. The current
        development version (potentially unstable) can be cloned as follows:
    </p>
    <pre>git clone https://github.com/concordion/concordion{% if csharp %}.net{% endif %}.git
</pre>

    <a name="collaborate"> </a>
    <h3>How do I collaborate with development of Concordion?</h3>
    <p>
        Firstly, you should <a href="#issueList">create an issue</a> for your enhancement request.
    </p>
    <p>
        Concordion uses a "Fork &amp; Pull" model for collaborative development. If you have changes that you would like us to consider for introduction to Concordion, 
        you will need to <a href="https://help.github.com/articles/fork-a-repo">fork</a> the repository, commit and push your changes to your forked project, and send us a <a href="https://help.github.com/articles/using-pull-requests">pull request</a> referencing the URL of the issue that you created.
    </p>
<!-- TODO apply this block to C#
-->    
{% if java %}
    <p>
        Please note that, in order to keep Concordion clean and minimal, we consider all enhancement requests carefully. Should your enhancement not be appropriate for Concordion core, you may wish to package it as a Concordion <a href="{{site.baseurl}}/coding/{{ page.fixture_language }}/{{ page.spec_type }}#building-your-own-extension">extension</a>. 
    </p>
{% endif %}    
{% if java %}
    <p>
        See README-DEVELOPERS.txt in the concordion repository for the development standards.
    </p>
{% endif %}

    <a name="comparisonWithSelenium"> </a>
    <h3>How does Concordion differ from Selenium?</h3>
    <p>
        <a class="externalLink" href="http://docs.seleniumhq.org/">Selenium</a>
        is a test scripting tool for driving web browsers.
        Concordion is a specification tool and hides scripting activity inside
        Java fixture code. For tests that exercise the browser, we recommend 
        <a class="externalLink" href="http://docs.seleniumhq.org/projects/webdriver/">Selenium WebDriver</a> 
        with Concordion.
    </p>
{% if java %}
    <p>
        The <a class="externalLink" href="https://github.com/concordion/concordion-screenshot-extension-demo"/>screenshot extension demo</a> 
project demonstrates Concordion working with Selenium WebDriver.
</p>
{% endif %}

{% if java %}
<!-- TODO - is FullOGNL available in .NET? -->
<a name="complexExpressions"> </a>
<h3>How do I use complex expressions in my Concordion specifications?</h3>
<p>
    In order to <a href="{{site.baseurl}}/technique/{{ page.fixture_language }}/{{ page.spec_type }}#keepSpecsSimple">keep your specifications simple</a> and maintainable, Concordion deliberately restricts the expression format that is allowed when instrumenting specifications. Complexity should be moved into the fixture code, and then <a href="{{site.baseurl}}/technique/{{ page.fixture_language }}/{{ page.spec_type }}#evolveDSL">evolved into a DSL</a>, where it is easier to maintain. The idea is to have the fixture do all the work of fetching and munging the data and then return exactly the data that the spec needs, which helps to decouple the spec from the implementation.
</p>
<p>
    However, if you really want to remove this restriction you can apply the annotation @FullOGNL to your fixture class. This would allow you to do things like <a class="externalLink" href="http://stackoverflow.com/questions/23658633/use-result-object-of-first-concordion-call-as-arg-in-secound-concordion-call">pass property values of Java beans into methods<a>, or <a class="externalLink" href="http://stackoverflow.com/questions/19681470/sending-a-constant-parameter-to-concoridion-execute-call">use constant values in concordion:execute commands</a>. 
</p>
{% endif %}

<a name="ownDogFood"> </a>
<h3>Does Concordion itself have active specifications?</h3>
<p>
    Yes, see the <a target="specs" href="{% if java %}http://concordion.github.io/concordion/latest/spec/Concordion.html{% elsif csharp %}http://concordion.org/dotnet/Concordion/Concordion.html{% endif %}">Concordion{% if csharp %}.NET{% endif %} specifications</a>.
</p>

</div>
