<ul id="slide-out" class="side-nav fixed  collapsible collapsible-accordion">
    <li class="side-nav-logo"><a href="{{site.baseurl}}"><img src="{{site.baseurl}}/img/concordion-logo-green.png" alt="Concordion Logo"/></a></li>
    <li><a href="{{site.baseurl}}/extensions">Extensions</a></li>
    <li><a href="{{site.baseurl}}/tutorial">Getting Started</a></li>
    <li><a>Next steps</a>
        <ul>
          <li><a href="{{site.baseurl}}/discussing">Discussing</a></li>
          <li><a href="{{site.baseurl}}/documenting">Documenting</a></li>
          <li><a href="{{site.baseurl}}/instrumenting/markdown">Instrumenting</a></li>
          <li><a href="{{site.baseurl}}/coding">Coding</a></li>
      </ul>
  </li>
  <li><a href="{{site.baseurl}}/technique">Hints and Tips</a></li>
  <li><a href="{{site.baseurl}}/integrations">Integrations</a></li>
  <li><a href="{{site.baseurl}}/questions">FAQ</a></li>
  <li><a href="{{site.baseurl}}/download">Download</a></li>

</ul>
<a href="#" data-activates="slide-out" class="button-collapse left-nav"><i class="mdi-navigation-menu"></i></a>