<ul id="slide-out" class="side-nav fixed  collapsible collapsible-accordion">
    <li class="side-nav-logo"><a href="./"><img src="./img/concordion-logo-green.png" alt="Concordion Logo"/></a></li>
    <li><a href="extensions">Extensions</a></li>
    <li><a href="tutorial">Getting Started</a></li>
    <li><a>Next steps</a>
        <ul>
          <li><a href="discussing">Discussing</a></li>
          <li><a href="documenting">Documenting</a></li>
          <li><a href="instrumenting">Instrumenting</a></li>
          <li><a href="coding">Coding</a></li>
      </ul>
  </li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse left-nav"><i class="mdi-navigation-menu"></i></a>