<ul id="slide-out" class="side-nav fixed collapsible collapsible-accordion">
    <li class="side-nav-logo"><a href="{{site.baseurl}}"><img src="{{site.baseurl}}/img/concordion-logo-green.png" alt="Concordion Logo"/></a></li>
    <li><a href="{{site.baseurl}}/tutorial/{{ page.fixture_language }}/{{ page.spec_type }}">Getting Started</a></li>
    <li id="next-steps">
        <div class="collapsible-header active">Next steps <i class="fa fa-chevron-right"></i></div>
        <div class="collapsible-body">
            <ul>
                <li><a href="{{site.baseurl}}/discussing/{{ page.fixture_language }}/{{ page.spec_type }}">Discussing</a></li>
                <li><a href="{{site.baseurl}}/documenting/{{ page.fixture_language }}/{{ page.spec_type }}">Documenting</a></li>
                <li><a href="{{site.baseurl}}/instrumenting/{{ page.fixture_language }}/{{ page.spec_type }}">Instrumenting</a></li>
                <li><a href="{{site.baseurl}}/coding/{{ page.fixture_language }}/{{ page.spec_type }}">Coding</a></li>
            </ul>
        </div>
    </li>
    <li><a href="{{site.baseurl}}/technique/{{ page.fixture_language }}/{{ page.spec_type }}">Hints and Tips</a></li>
    <li><a href="{{site.baseurl}}/extensions/{{ page.fixture_language }}/{{ page.spec_type }}">Extensions</a></li>
    <li><a href="{{site.baseurl}}/integrations/{{ page.fixture_language }}/{{ page.spec_type }}">Integrations</a></li>
    <li><a href="{{site.baseurl}}/questions/{{ page.fixture_language }}/{{ page.spec_type }}">FAQ</a></li>
    <li><a href="{{site.baseurl}}/download/{{ page.fixture_language }}/{{ page.spec_type }}">Download</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse left-nav white-text"><i class="mdi-navigation-menu"></i></a>