<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <script type="text/javascript" charset="utf-8">
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        </script>
        {% include imports-header.html %}
        <!-- LAYOUT SPECIFIC CSS/JS -->
        <link rel="stylesheet" href="{{site.baseurl}}/css/sidenav.css">
        
        {% include analytics.html %}
    </head>
    <body>
        <header>
            {% include sidenav.html %}
        </header>
        <main>
            <section class="sidenav-header">
                <div class="row">
                    <div class="col s12">
                        <h1>{{ page.heading}}</h1>
                        <p>{{ page.subheading}}</p>
                    </div>
                </div>
            </section>
            <section class="toggle-header">
                <nav>
                    <div class="nav-wrapper">
                        <ul class="right">
                            <li><a href="{{ site.baseurl }}/{{ page.subject }}/{{ page.fixture_language}}/markdown"><i class="mdi mdi-markdown" title="Markdown"></i></a></li>
                            <li><a href="{{ site.baseurl }}/{{ page.subject }}/{{ page.fixture_language}}/html"><i class="mdi mdi-code-tags" title="HTML"></i></a></li>
                            <li><a href="{{ site.baseurl }}/{{ page.subject }}/java/{{ page.spec_type }}"><i class="mdi mdi-coffee" title="Java"></i></a></li>
                            <li><a href="{{ site.baseurl }}/{{ page.subject }}/csharp/{{ page.spec_type }}"><i class="mdi mdi-language-csharp" title="C#"></i></a></li>
                        </ul>
                    </div>
                </nav>                    
            </section>
            <div class="container sidenav-content">
                <div class="row">
                    <div class="col s12">
                        {{ content }}
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer">
            {% include footer.html %}
        </footer>
        {% include imports-endbody.html %}
    </body>
</html>