<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <script type="text/javascript" charset="utf-8">
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        </script>
        {% include imports-header.html %}
        <!-- LAYOUT SPECIFIC CSS/JS -->
        <link rel="stylesheet" href="{{site.baseurl}}/css/sidenav.css">

        {% include analytics.html %}
    </head>
    <body>
        <header>
            {% include sidenav.html %}
            <nav id="toggle-nav">
                <div class="nav-wrapper">
                    <ul class="right content-switches">
                        {% if page.spec_type == "markdown" %}
                        <li>
                            <div class="switch">
                                <label class="white-text">
                                    Markdown
                                    <input type="checkbox" data-url="{{ site.baseurl }}/{{ page.subject }}/{{ page.fixture_language}}/html"/>
                                    <span class="lever"></span>
                                    HTML
                                </label>
                            </div>
                        </li>
                        {% else %}
                        <li>
                            <div class="switch">
                                <label class="white-text">
                                    Markdown
                                    <input type="checkbox" checked data-url="{{ site.baseurl }}/{{ page.subject }}/{{ page.fixture_language}}/markdown"/>
                                    <span class="lever"></span>
                                    HTML
                                </label>
                            </div>
                        </li>
                        {% endif %}
                        {% if page.fixture_language == "java" %}
                        <li>
                            <div class="switch">
                                <label id="java-label" class="white-text">
                                    Java
                                    <input type="checkbox" data-url="{{ site.baseurl }}/{{ page.subject }}/csharp/{{ page.spec_type }}"/>
                                    <span class="lever"></span>
                                    C#
                                </label>
                            </div>
                        </li>
                        {% else %}
                        <li>
                            <div class="switch">
                                <label id="java-label" class="white-text">
                                    Java
                                    <input type="checkbox" checked data-url="{{ site.baseurl }}/{{ page.subject }}/java/{{ page.spec_type }}"/>
                                    <span class="lever"></span>
                                    C#
                                </label>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>                    
        </header>
        <main>
{% if page.error_page %}
            <section class="sidenav-header error">
{% else %}
            <section class="sidenav-header">
{% endif %}
                <div class="row">
                    <div class="col s12">
                        <h1 class="white-text">{{ page.heading}}</h1>
                        <p class="white-text">{{ page.subheading}}</p>
                    </div>
                </div>
            </section>
            <div class="container sidenav-content">
                <div class="row">
                    <div class="col s12">
                        {{ content }}
                    </div>
                </div>
            </div>
{% if page.next_page %}
            <section id="call-to-action">
                <div class="next-action-button">
                    <div class="button-wrapper">
                        <a href="{{site.baseurl}}/{{ page.next_page }}/{{ page.fixture_language}}/{{ page.spec_type }}" class="btn btn-large waves-effect waves-light">{{ page.next_page_text }}<i class="material-icons right">skip_next</i></a>
                    </div>
                </div>
            </section>
{% endif page.next_page %}
        </main>
{% if page.error_page %}
        <footer class="page-footer error">
{% else %}
        <footer class="page-footer">
{% endif %}
            {% include footer.html %}
        </footer>
        {% include imports-endbody.html %}
    </body>
</html>